asgiref==3.7.2
asttokens==2.4.1
attrs==23.2.0
CaaS==1.5
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
coloredlogs==15.0.1
decorator==4.4.2
Django==5.0.1
django-cors-headers==4.3.1
django-ipware==6.0.4
django-jazzmin==3.0.0
django-rest-authemail==2.1.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
docopt==0.6.2
docx2pdf==0.1.8
docx2txt==0.8
et-xmlfile==1.1.0
executing==2.0.1
ffmpeg==1.4
ffmpeg-python==0.2.0
flatbuffers==24.3.25
future==1.0.0
ghostscript==0.7
h11==0.14.0
humanfriendly==10.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
ipython==8.22.2
IronPdf==2024.5.1.2
jedi==0.19.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
lazy_loader==0.4
llvmlite==0.42.0
lxml==5.2.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
mysqlclient==2.2.1
networkx==3.3
numba==0.59.1
numpy==1.26.4
onnxruntime==1.17.3
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.1
parso==0.8.3
pdf-compressor==0.2.1
pdfshrink==0.1.0
pillow==10.2.0
platformdirs==4.2.1
pooch==1.8.1
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==5.26.1
psycopg2==2.9.9
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
PyMatting==1.1.12
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
PyPDF2==3.0.1
PyPDF4==1.27.0
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil==2.9.0
python-docx==1.1.0
python-dotenv==1.0.1
python-ipware==2.0.1
python-magic-bin==0.4.14
pythonnet==3.0.3
pytz==2024.1
pywin32==306
referencing==0.35.0
rembg==2.0.56
reportlab==4.2.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
scikit-image==0.23.2
scipy==1.13.0
selenium==4.17.2
setuptools==69.5.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
stack-data==0.6.3
sympy==1.12
tifffile==2024.4.18
tqdm==4.66.2
traitlets==5.14.1
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
wcwidth==0.2.13
webdriver-manager==4.0.1
wsproto==1.2.0
