asgiref
asttokens
attrs
certifi
cffi
charset-normalizer
colorama
decorator
Django
django-cors-headers
django-ipware
django-rest-authemail
djangorestframework
djangorestframework-simplejwt
docx2pdf
docx2txt
et-xmlfile
executing
ffmpeg
ffmpeg-python
future
h11
idna
imageio
imageio-ffmpeg
ipython
jedi
lxml
matplotlib-inline
moviepy
numpy
openpyxl==3.1.2
outcome
packaging
pandas
parso
pillow
proglog
prompt-toolkit
psycopg2
pure-eval
pycparser
Pygments
PyJWT
PyMuPDF
PyMuPDFb
PyPDF2
PySocks
python-dateutil
python-docx
python-dotenv
python-ipware
python-magic-bin
pytz
pywin32
requests
selenium
setuptools
six
sniffio
sortedcontainers
sqlparse
stack-data
tqdm
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
webdriver-manager
wsproto
